.circleIcon{
    border:solid rgb(131, 131, 131) 2px;
    border-radius:50%; 
    padding:2%,
}
.th-content, .td-content{
    margin-left: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th.ant-table-cell,td.ant-table-cell{
    text-overflow: fixed;
    white-space: nowrap;
}
td.ant-table-cell{
    color: grey;
}
.ant-card{
 box-shadow: 1px 1px 2px grey;
}
.ant-table-content{
    height: 65vh;
}