.App{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('https://wallpaper.dog/large/17145340.jpg');
}
.circleIcon{
    border:solid rgb(131, 131, 131) 2px;
    border-radius:50%; 
    padding:2%,
}
.th-content, .td-content{
    margin-left: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th.ant-table-cell,td.ant-table-cell{
    text-overflow: fixed;
    white-space: nowrap;
}
td.ant-table-cell{
    color: grey;
}
.ant-card{
 box-shadow: 1px 1px 2px grey;
}
.ant-table-content{
    height: 70vh;
}
.content{
    margin-top: 3%; 
    margin-left: 2%; 
    margin-right: 2%;
}

/* LoginForm */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 25vh auto;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .popup img{ 
    width: 100%;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 2%;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {color: #06D85F;}
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
