.App{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('https://wallpaper.dog/large/17145340.jpg');
}
.circleIcon{
    border:solid rgb(131, 131, 131) 2px;
    border-radius:50%; 
    padding:2%,
}
.th-content, .td-content{
    margin-left: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th.ant-table-cell,td.ant-table-cell{
    text-overflow: fixed;
    white-space: nowrap;
}
td.ant-table-cell{
    color: grey;
}
.ant-card{
 box-shadow: 1px 1px 2px grey;
}
.ant-table-content{
    height: 70vh;
}
.content{
    margin-top: 3%; 
    margin-left: 2%; 
    margin-right: 2%;
}
.tessst{
    color: rgb(0, 102, 255);
}